<ng-container *transloco="let t">
<div class="batch-action-toolbar">
  <div class="toolbar-content">
    <div class="selection-info">
      <mat-icon>select_all</mat-icon>
      <span>{{ t('products.batchActionToolbar.selectedCount', { count: selectedCount }) }}</span>
    </div>
    <div class="toolbar-actions">
      @if (selectedCount < 1) {
        <button mat-stroked-button (click)="onSelectAll()">
          <mat-icon>select_all</mat-icon>
          {{ t('products.selectAll') }}
        </button>
      }
      @if (selectedCount >= 1) {
        <button mat-stroked-button (click)="onDeselectAll()">
          <mat-icon>clear</mat-icon>
          {{ t('products.deselectAll') }}
        </button>
      }
      @if (selectedCount >= 1) {
        <button mat-raised-button (click)="onDeleteSelected()" color="warn">
          <mat-icon>delete</mat-icon>
          {{ t('products.deleteSelected') }}
        </button>
      }

      <!-- Advanced Batch Operations Menu -->
      @if (selectedCount >= 1) {
        <button
          mat-stroked-button
          [matMenuTriggerFor]="advancedBatchMenu"
          class="advanced-menu-btn">
          <mat-icon>more_vert</mat-icon>
          {{ t('products.batchActionToolbar.advanced') }}
        </button>
      }

      <mat-menu #advancedBatchMenu="matMenu">
        <button mat-menu-item (click)="onBatchPriceUpdate()">
          <mat-icon>payments</mat-icon>
          <span>{{ t('products.batchActionToolbar.updatePrices') }}</span>
        </button>
        <button mat-menu-item (click)="onBatchCategoryUpdate()">
          <mat-icon>category</mat-icon>
          <span>{{ t('products.batchActionToolbar.assignCategory') }}</span>
        </button>
        <button mat-menu-item (click)="onBatchCustomFieldUpdate()">
          <mat-icon>edit_attributes</mat-icon>
          <span>{{ t('products.batchActionToolbar.updateCustomFields') }}</span>
        </button>
      </mat-menu>

      <button mat-icon-button (click)="onClose()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
</ng-container>