.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 360px;
  padding-top: 0.5rem;

  mat-form-field {
    width: 100%;
  }

  mat-slide-toggle {
    margin-top: 0.25rem;
  }
}
