# PostgreSQL
POSTGRES_USER=fulcrum
POSTGRES_PASSWORD=fulcrum
POSTGRES_DB=fulcrum
DATABASE_URL=postgresql://fulcrum:fulcrum@db:5432/fulcrum

# Redis
REDIS_URL=redis://redis:6379/0
SECRET_KEY=your_secret_key_here

# First Superuser
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=SecurePass123!

