fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
pydantic-settings
celery
redis
psycopg2-binary
pgvector
python-dotenv
pytest
pytest-env
pytest-timeout
httpx
Faker
argon2-cffi>=23.1.0
python-jose[cryptography]
passlib[argon2]==1.7.4
python-multipart
sentence-transformers
slowapi
ruff