fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
pydantic-settings
celery
redis
psycopg2-binary
pgvector
python-dotenv
pytest
pytest-env
httpx
Faker
bcrypt==3.2.2
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-multipart
sentence-transformers
flower
ruff
