fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
pydantic-settings
celery
redis
psycopg2-binary
pgvector
python-dotenv
pytest
httpx
ruff
passlib
bcrypt==3.2.2
python-multipart
python-jose
