<ng-container *transloco="let t">
  <h2 mat-dialog-title>{{ t('users.generatedPasswordTitle') }}</h2>

  <mat-dialog-content>
    <p>{{ t('users.generatedPasswordFor') }}</p>
    <p class="user-email"><strong>{{ data.userEmail }}</strong></p>
    <div class="password-display">
      <code class="password-code">{{ data.password }}</code>
      <button mat-icon-button (click)="onCopyPassword()" [matTooltip]="t('common.copy')" class="copy-button">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <p class="warning-message">{{ t('users.generatedPasswordWarning') }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onOk()">{{ t('common.ok') }}</button>
  </mat-dialog-actions>
</ng-container>