<div class="product-manager-container">
    <div class="header">
        <h3>Supplier Products</h3>
        <!-- <button mat-stroked-button color="primary" (click)="addProduct()">
        <mat-icon>add</mat-icon> Add Product
        </button> -->
    </div>

    <table mat-table [dataSource]="supplierProducts" class="mat-elevation-z0">
        <!-- Product Name Column -->
        <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/products/edit', element.product_id]" class="product-link">
                    {{element.product_name || 'Unknown Product'}}
                </a>
            </td>
        </ng-container>

        <!-- Supplier SKU Column -->
        <ng-container matColumnDef="supplier_sku">
            <th mat-header-cell *matHeaderCellDef> Supplier SKU </th>
            <td mat-cell *matCellDef="let element"> {{element.supplier_sku || '-'}} </td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost_price">
            <th mat-header-cell *matHeaderCellDef> Cost </th>
            <td mat-cell *matCellDef="let element"> {{element.cost_price | currency}} </td>
        </ng-container>

        <!-- Lead Time Column -->
        <ng-container matColumnDef="lead_time_days">
            <th mat-header-cell *matHeaderCellDef> Lead Time (Days) </th>
            <td mat-cell *matCellDef="let element"> {{element.lead_time_days || '-'}} </td>
        </ng-container>

        <!-- Last Ordered Column -->
        <ng-container matColumnDef="last_ordered_at">
            <th mat-header-cell *matHeaderCellDef> Last Ordered </th>
            <td mat-cell *matCellDef="let element"> {{element.last_ordered_at | date:'mediumDate'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable-row"
            (click)="navigateToProduct(row.product_id)"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No products associated with this supplier yet. Receive a Purchase Order to
                automatically link products.</td>
        </tr>
    </table>
</div>