.product-manager-container {
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

table {
    width: 100%;
}

mat-chip-set {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
}

h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}
