<div class="container">
  <h1>Users</h1>

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <!-- Superuser Column -->
    <ng-container matColumnDef="is_superuser">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Admin</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon>{{row.is_superuser ? 'check_circle' : 'cancel'}}</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [routerLink]="['edit', row.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
