<ng-container *transloco="let t">
  <div class="settings-container">
    <!-- Settings Header -->
    <div class="settings-header">
      <h1>{{ t('settings.title') }}</h1>
      <p class="settings-subtitle">{{ t('settings.subtitle') }}</p>
    </div>

    <!-- Tabbed Navigation -->
    <mat-tab-group class="settings-tabs" animationDuration="200ms">

      <!-- TAB 1: General -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>tune</mat-icon>
          <span>{{ t('settings.general') }}</span>
        </ng-template>
        <app-general-tab></app-general-tab>
      </mat-tab>

      <!-- TAB 2: Integrations & AI -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>extension</mat-icon>
          <span>{{ t('settings.integrations') }}</span>
        </ng-template>
        <app-integrations-tab></app-integrations-tab>
      </mat-tab>

      <!-- TAB 3: Marketing & Email -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>campaign</mat-icon>
          <span>{{ t('settings.marketingTab') }}</span>
        </ng-template>
        <app-marketing-tab></app-marketing-tab>
      </mat-tab>

      <!-- TAB 4: Inventory -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>inventory_2</mat-icon>
          <span>{{ t('settings.inventory') }}</span>
        </ng-template>
        <app-inventory-tab></app-inventory-tab>
      </mat-tab>

      <!-- TAB 5: Data Management -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>storage</mat-icon>
          <span>{{ t('settings.data') }}</span>
        </ng-template>
        <app-data-tab></app-data-tab>
      </mat-tab>

    </mat-tab-group>
  </div>
</ng-container>