<ng-container *transloco="let t">
  <div class="dialog-container">
    <h2 mat-dialog-title>{{ t('users.resetPasswordFor') }} {{ data.email }}</h2>

    <mat-dialog-content>
      @if (data.isForAdmin) {
      <div>
        <p>{{ t('users.resetPasswordConfirm') }}</p>
        <p>{{ t('users.resetPasswordInstruction') }}</p>
      </div>
      } @else {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('auth.newPassword') }}</mat-label>
          <input matInput formControlName="newPassword" [type]="'password'">
          @if (form.get('newPassword')?.hasError('required')) {
          <mat-error>{{ t('common.errors.passwordRequired') }}</mat-error>
          }
          @if (form.get('newPassword')?.hasError('weakPassword')) {
          <mat-error>{{ t('users.errors.weakPassword') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('auth.confirmPassword') }}</mat-label>
          <input matInput formControlName="confirmNewPassword" [type]="'password'">
          @if (form.get('confirmNewPassword')?.hasError('required')) {
          <mat-error>{{ t('users.errors.confirmPassword') }}</mat-error>
          }
          @if (form.hasError('passwordMismatch')) {
          <mat-error>{{ t('users.errors.passwordMismatch') }}</mat-error>
          }
        </mat-form-field>
      </form>
      }

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">{{ t('common.cancel') }}</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!data.isForAdmin && !form.valid">
        {{ data.isForAdmin ? t('users.generateNewPassword') : t('users.resetPassword') }}
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>