<h2 mat-dialog-title>{{ data ? 'Edit' : 'Add' }} Custom Field</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      @for (type of fieldTypes; track type) {
        <mat-option [value]="type">
          {{ type }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
