<nav class="bottom-nav" *transloco="let t">
  <a *ngFor="let tab of primary" class="tab" [routerLink]="tab.route" routerLinkActive="active">
    <mat-icon class="tab-icon">{{ tab.icon }}</mat-icon>
    <span class="tab-label">{{ t(tab.labelKey) }}</span>
  </a>

  <button type="button" class="tab" [matMenuTriggerFor]="moreMenu" [attr.aria-label]="t('nav.more')">
    <mat-icon class="tab-icon">more_horiz</mat-icon>
    <span class="tab-label">{{ t('nav.more') }}</span>
  </button>
  <mat-menu #moreMenu="matMenu" yPosition="above" class="bottom-nav-overflow">
    <a *ngFor="let item of overflow" mat-menu-item [routerLink]="item.route">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ t(item.labelKey) }}</span>
    </a>
  </mat-menu>
</nav>
