<ng-container *transloco="let t">
    <div class="date-range-container">
        <mat-button-toggle-group [value]="selectedPreset" (change)="onPresetChange($event.value)">
            <mat-button-toggle *ngIf="showAllOption" value="all" [matTooltip]="t('common.all')">{{
                t('common.all') }}</mat-button-toggle>
            <mat-button-toggle value="day" [matTooltip]="t('common.today')">{{ t('common.today')
                }}</mat-button-toggle>
            <mat-button-toggle value="week" [matTooltip]="t('dateRanges.week')">{{ t('dateRanges.week')
                }}</mat-button-toggle>
            <mat-button-toggle value="month" [matTooltip]="t('dateRanges.month')">{{ t('dateRanges.month')
                }}</mat-button-toggle>
            <mat-button-toggle value="3months" [matTooltip]="t('dateRanges.3months')">{{ t('dateRanges.3months')
                }}</mat-button-toggle>
            <mat-button-toggle value="6months" [matTooltip]="t('dateRanges.6months')">{{ t('dateRanges.6months')
                }}</mat-button-toggle>
            <mat-button-toggle value="year" [matTooltip]="t('dateRanges.year')">{{ t('dateRanges.year')
                }}</mat-button-toggle>
            <mat-button-toggle value="custom" [matTooltip]="t('dateRanges.custom')">{{ t('dateRanges.custom')
                }}</mat-button-toggle>
        </mat-button-toggle-group>

        @if (selectedPreset === 'custom') {
        <div class="custom-range">
            <mat-form-field appearance="outline" class="date-field">
                <mat-label>{{ t('dateRanges.start') }}</mat-label>
                <input matInput [matDatepicker]="startPicker" [(ngModel)]="customStart" (dateChange)="onCustomChange()">
                <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <span class="range-separator">{{ t('dateRanges.to') }}</span>
            <mat-form-field appearance="outline" class="date-field">
                <mat-label>{{ t('dateRanges.end') }}</mat-label>
                <input matInput [matDatepicker]="endPicker" [(ngModel)]="customEnd" (dateChange)="onCustomChange()">
                <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </div>
        }
    </div>
</ng-container>