<ng-container *transloco="let t">
<div class="container">
  <h1>{{ t('users.accountManagement.title') }}</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>{{ t('users.accountManagement.firstName') }}</mat-label>
        <input matInput formControlName="first_name" autocomplete="off">
        @if (form.get('first_name')?.hasError('required')) {
          <mat-error>{{ t('common.errors.firstNameRequired') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>{{ t('users.accountManagement.lastName') }}</mat-label>
        <input matInput formControlName="last_name" autocomplete="off">
        @if (form.get('last_name')?.hasError('required')) {
          <mat-error>{{ t('common.errors.lastNameRequired') }}</mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ t('common.email') }}</mat-label>
      <input matInput formControlName="email" type="email" autocomplete="off">
      @if (form.get('email')?.hasError('required')) {
        <mat-error>{{ t('common.errors.emailRequired') }}</mat-error>
      }
      @if (form.get('email')?.hasError('email')) {
        <mat-error>{{ t('common.errors.invalidEmail') }}</mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" (click)="onCancel()">{{ t('common.cancel') }}</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">{{ t('users.accountManagement.saveChanges') }}</button>
    </div>
  </form>
</div>
</ng-container>